* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.App {
  background-image: url("./assets/cold-bg.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.App.warm {
  background-image: url("./assets/warm-bg.jpg");
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 auto 75px;
}

.search-box .search-bar {
  display: inline-block;
  width: 80%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: -10px;

  box-shadow: 0px 3px rgba(0, 0, 0, 0.2);

  color: rgb(36, 36, 36);
  font-size: 20px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.9);
}
.search-box .clear-btn {
  display: inline-block;
  width: 18%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: -10px;
  margin-left: 1%;

  box-shadow: 0px 3px rgba(0, 0, 0, 0.2);

  color: rgb(78, 78, 78);
  font-size: 20px;
  transition: 0.4s ease;
  text-align: center;
}
.search-box .clear-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.search-box .clear-btn:active {
  background-color: rgba(194, 194, 194, 0.986);
}

.location-box {
  text-align: center;
  color: #fff;
}
.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.location-box .date {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.2);
}
.weather-box {
  color: #fff;
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);

  padding: 15px 25px;

  font-size: 100px;
  font-weight: 800;

  text-shadow: 3px 6px rgba(0, 0, 0, 0.5);

  border-radius: 5px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
